@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

.about-container {
  width: 930px;
  margin: 0 auto;
}

.box-about {
  margin-top: 20px;
}
.about-container__topPanel {
  background-color: rgb(140, 140, 140);
  width: 100%;
  min-height: 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 8px;
}
.about-container__main-text {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.circle {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.circle:not(:last-child) {
  margin-right: 10px;
}
.circle.red {
  background-color: red;
}
.circle.orange {
  background-color: orange;
}
.circle.green {
  background-color: green;
}
.box-circle {
  display: flex;
}
.about-container__main-text {
  padding: 35px;
  font-family: "JetBrains Mono", monospace;
  background-color: rgb(39, 36, 47);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.const {
  color: red;
  margin-right: 10px;
}
.variable {
  color: rgb(128, 58, 240);
  margin-right: 10px;
}
.equal {
  color: red;
  margin-right: 10px;
}
.left-braket {
  color: #fff;
}

.line {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.twodots {
  color: red;
}
.box-line-1 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.key-object {
  margin-right: 10px;
  color: #fff;
}
.key-value {
  color: yellow;
}
.comma {
  color: #fff;
}
.left-braket.redbraket {
  color: red;
}
.number {
  color: rgb(128, 58, 240);
}
.left-square-braket,
.right-square-braket {
  color: rgb(121, 121, 226);
}
.box-line-1.mod {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.key-value.mod-key {
  margin-left: 50px;
  margin-top: 10px;
}
