@import url("@fontsource/roboto");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "Roboto", sans-serif;
  cursor: none;
}
h1,
h2,
ul {
  margin: 0;
  padding: 0;
}

.btn {
  animation: slide-top 9s ease-in-out forwards;
  position: relative;
}

.btn::after {
  content: "";
  position: absolute;
  height: 28px;
  width: 6px;
  left: 45px;
  bottom: 13px;
}
.btn::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 40px;
  left: 45px;
  bottom: 46px;
  animation: jump 1s infinite alternate;
  animation-delay: 1s;
}

.light-theme.btn::after,
.light-theme.btn::before {
  background-color: #000;
}

.dark-theme.btn::after,
.dark-theme.btn::before {
  background-color: #fff;
}

@keyframes jump {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes slide-top {
  0% {
    transform: translateY(-1000px) rotate(0deg);
  }
  20% {
    transform: translateY(0px) rotate(35deg);
  }
  80% {
    transform: translateY(0px) rotate(35deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

.text-to-show {
  margin-top: 20px;
  opacity: 0;
  animation: show-text 5s 5s forwards;
  position: absolute;
  left: 0;
  font-size: 163px;
  right: 0;
  top: 64px;
  text-align: center;
}

.text-to-show-good {
  margin-top: 20px;
  opacity: 0;
  animation: show-text2 8s 8s forwards;
  position: absolute;
  left: 0;
  font-size: 40px;
  right: 0;
  top: 64px;
  text-align: center;
}

@keyframes show-text2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show-text {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* 
<button className="btn">Button</button>
<p className="text-to-show">Ти дійсно думаєш, що я настільки поганий?</p>
*/
.App {
  /* background-color: #000; */
  height: 100%;
  padding: 0 25px 25px 25px;
}
